.container {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container form {
    display: flex;
    flex-direction: column;
}


/* mat-icon {
    cursor: pointer;
} */