<mat-toolbar class="header mat-elevation-z4" color="primary">
    <h1>
        Bin2Dec
    </h1>
</mat-toolbar>

<mat-card class="mat-elevation-z3 main-card">
    <mat-card-content class="card-content">
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Valor a ser convertido (Em binário)</mat-label>
                <input #binaryNumberInput (input)="typeNumber()" type="text" autocomplete="off" matInput>
                <mat-icon matSuffix (click)="clear()">
                    close
                </mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Resultado</mat-label>
                <input #result type="text" value="0" readonly matInput>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>