.header .main-card {
    width: 100vw;
}

.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.main-card {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--text-color);
}

.main-card form {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

mat-icon {
    cursor: pointer;
}

.ng-star-inserted {
    color: var(--text-color);
}

@media(max-width: 780px) {
    .main-card form {
        width: 100%;
    }
    mat-form-field {
        width: 20em;
    }
}