/* You can add global styles to this file, and also import other style files */


/* fallback */


/* @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(src/assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

:root {
    --body-bg: #f1f1f1;
    --body-color: #000;
}

.dark-mode {
    --body-bg: #212529 !important;
    --body-color: #899095 !important;
}

html,
body {
    height: 100vh;
    color: var(--body-color);
    background-color: var(--body-bg);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: background-color 0.9s;
}

.msg-error {
    background-color: #e35e6b;
    color: #fff;
}